{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block header %}
	<div class="headerHome">
		<h1 class="headerTitle text-light text-center">
			<span class="titleName">Maestro Music</span><br><br><br>Explorez l'univers musical Maestro, où chaque artiste trouve sa voix.
			<br><br>
			Partagez vos créations, découvrez de nouveaux talents et plongez dans une symphonie de genres variés,<br><br>
			librement offerte à vos oreilles.</h1>
	</div>
{% endblock %}

{% block body %}
	<h2 class="title-page-main mt-4 mb-4">Les musiques les plus populaires</h2>
	<div class="row">
		{% for musicPopular in musicsPopular %}
			<div class="col-3">
				<div class="card text-center border border-primary shadow-0 ">
					<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
						<img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid"/>
						<a href="#!">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
						</a>
					</div>

					<div class="card-body p-0">
						<h5 class="card-title">{{ musicPopular.name }}</h5>
						<h4>{{ musicPopular.first_name ~ ' ' ~  musicPopular.last_name }}</h4>
						<figure>
							<audio controls src="{{ asset('build/audio/' ~ musicPopular.audio) }}"></audio>
						</figure>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<h2 class="title-page-main mt-5 pt-5 mb-4">Les dernières nouveautées</h2>
	<div class="row">
		{% for musicNew in musicsNew %}
			<div class="col-3">
				<div class="card text-center border border-primary shadow-0 ">
					<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
						<img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid"/>
						<a href="#!">
							<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
						</a>
					</div>
					<div class="card-body p-0">
						<h5 class="card-title">{{ musicNew.name }}</h5>
						<h4>{{ musicNew.user.firstName ~ ' ' ~  musicNew.user.lastName }}</h4>
						<figure>
							<audio controls src="{{ asset('build/audio/' ~ musicNew.audio) }}"></audio>
						</figure>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
