{% extends 'layout.html.twig' %}

{% block title %}Musiques -
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('music-js') }}
{% endblock %}

{% block body %}
	{% set total =  musics|length  %}
	<div id="js-lenght-music" data-set="{{ total }}"></div>
	<h1 class="text-center mb-5 title-page-main">Musiques maestro</h1>
	{{ form_start(form) }}
	{{ form_widget(form.name) }}
	{{ form_widget(form.type, {'attr': {'placeholder': 'Quel cépage ?'}}) }}
		<div class="row">
		<div class="col">
			<div class="mb-3 d-flex justify-content-end gap-4">
				<button id="Reset" name="Reset" type="reset" class="btn">
					RESET
				</button>

				<button class="btn">
					FILTRER
				</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
	<div>
		<table class="table table-responsive">
			<tr>
				<th>Titre</th>
				<th>Artiste</th>
				<th>Genre</th>
				<th>audio</th>
				<th>like</th>
			</tr>
		</thead>
		<tbody>
			{% for music in musics %}
				<tr>
					<td>{{ music.name }}</td>
					<td>{{ music.user.speudo }}</td>
					<td>{{ music.type.name }}</td>
					<td>
						<figure>
							<audio controls src="{{ music.audio is not empty ? vich_uploader_asset(music) : asset('build/audio/' ~ music.audio) }}" alt="{{ music.name ?? 'Default' }} music"></audio>
						</figure>
					</td>
					<td>
						{% if app.user %}
							<a id="{{ 'watchlist' ~ loop.index }}" href="{{ path('app_favorite_music', {id: music.id})}}">
								<i class="bi {{ app.user.isInFavorite(music) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>{% endblock %}
