{% extends 'layout.html.twig' %}

{% block title %}Musiques -
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('music-js') }}
{% endblock %}

{% block body %}
	{% set total =  musics|length  %}
	<div id="js-lenght-music" data-set="{{ total }}"></div>
	<h1 class="text-center mb-5 title-page-main">Musiques maestro</h1>
	{{ form_start(form) }}
	{{ form_widget(form.name) }}
	{{ form_widget(form.type, {'attr': {'placeholder': 'Quel genre ?'}}) }}
		<div class="row">
		<div class="col">
			<div class="mb-3 d-flex justify-content-end gap-4">
				<button id="Reset" name="Reset" type="reset" class="btn">
					RESET
				</button>

				<button class="btn">
					FILTRER
				</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}


	<div class="row">
		{% for music in musics %}
			<div class="col-sm-12 col-lg-6 col-xl-3 g-3">
				<div class="card text-center border border-primary shadow-0 myCard">
					<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
						<img class="imageOnCard" src="{{ music.type.picture }}" class="rounded img-fluid"/>
					</div>
					<div class="card-body p-2">
						<h5 class="titleCard my-3">
							<i class="bi bi-music-note"></i>
							{{ music.name }}
							<i class="bi bi-music-note"></i>
						</h5>
						<h5 class="fs-5 mb-3">{{ music.user.firstName ~ ' ' ~  music.user.lastName }}</h5>
						<h6 class="mb-3">{{ music.type.name }}</h6>
						<div>
						{% if app.user %}
							<a id="{{ 'watchlist' ~ loop.index }}" href="{{ path('app_favorite_music', {id: music.id})}}">
							{{ music.numberFavorie|length }}
								<i class="bi {{ app.user.isInFavorite(music) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
							</a>
						{% endif %}
						</div>
						<div class="d-flex justify-content-center mt-4 mb-4">
							<div class="line"></div>
						</div>
						<figure>
							<audio controls src="{{ asset('build/audio/' ~ music.audio) }}"></audio>
						</figure>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
