{% extends 'layout.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="text-center mb-5 title-page-main">Inscrivez-vous</h1>

	<div class="d-flex justify-content-center pb-5">
		<div class="border-add-music-form rounded d-flex justify-content-center w-50">
			<div class="rounded w-75 px-5">
				{{ form_errors(form) }}

				{{ form_start(form) }}

				<div class="row">
					<div class="col-md-6">
						{{ form_row(form.firstName) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.lastName) }}
					</div>
				</div>
				{{ form_row(form.country) }}
				{{ form_row(form.birthday) }}
				{{ form_row(form.speudo) }}
                {{ form_row(form.imagesUser) }}
				{{ form_row(form.email) }}
				<div class="d-flex justify-content-end">
					<button class="btn btn-primary text-uppercase mb-5 mt-4 border-light">{{ button_label|default('Enrgistré') }}</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
