{% extends 'layout.html.twig' %}

{% block title %}Votre Profil -
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1 class="text-center mb-5 title-page-main">Mon profil</h1>
	<div class="border-add-music-form rounded d-flex justify-content-center mb-5">
		<div class="rounded w-75 p-5">
			<h1 class="title-page-main mb-3 text-center">{{ user.speudo }}</h1>
			<div class="row">
				<div class="col-6"><img class="p-1 rounded-circle border imageProfil" src="{{ user.picture is not empty ? vich_uploader_asset(user) : asset('build/images/user.png') }}" alt="{{ user.name ?? 'Default' }} image"></div>
				<div class="col-6 d-flex flex-column justify-content-evenly align-items-center">
					<div>

						<ul>
							<li>Prénom :
								{{ user.firstName }}</li>
							<li>Nom :
								{{ user.lastName }}</li>
							<li>Anniversaire :
								{{ user.birthday is not empty ? user.birthday|date("d/m/y") : 'd/m/y' }}</li>
							<li>
								Pays :
								{{ user.country is not empty ? user.country|country_name : '' }}</li>
							<li>Email :
								{{ user.email }}</li>
								<br>
							<li>
								<a class="text-dark" href="{{ path('app_forgot_password_request')}}"><i class="bi bi-arrow-right"></i> Change ton mot de passe</a>
							</li>
							<br>
							<br>
							<li>
								<a class="text-dark" href="{{ path('app_all_myMusic', {'id' : app.user.id })}}"><i class="bi bi-arrow-right"></i> Mes {{ user.music|length }} musiques</a>
							</li>
							<li>
								<a class="text-dark" href="{{ path('app_all_myLike', {'id' : app.user.id })}}"><i class="bi bi-arrow-right"></i> Mes {{ user.favorite|length }} musiques favorites</a>
							</li>
						</ul>
					</div>
					<div>
						<a class="btn text-dark border m-3 " href="{{ path('app_profil_modifie', {'id' : app.user.id })}}">Modifie ton profile</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
