{% extends 'admin.html.twig' %}

{% block title %}Music index{% endblock %}

{% block body %}
    <h1>Toutes les musiques</h1>


    <a class="btn my-4" href="{{ path('app_music_new') }}">Ajouté une musique</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Auteur</th>
                <th>Audio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for music in music %}
            <tr>
                <td>{{ music.name }}</td>
                <td>{{ music.user.firstName ~ ' ' ~ music.user.lastName }}</td>
                <td>{{ music.audio }}</td>
                <td>
                    <a href="{{ path('app_music_edit', {'id': music.id}) }}">modifié</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucune musique touvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
