{% extends 'layout.html.twig' %}

{% block title %}
	Mes musiques -
	{{ parent() }}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('artist-js') }}
{% endblock %}


{% block body %}
	{% set total = app.user.likeByMe|length  %}
	<div id="js-lenght-user" data-set="{{ total }}"></div>
	<h1 class="text-center mb-5 title-page-main">Mes artistes liké</h1>
	<div class="row">
		<div class="col-2">
			{{ component('LikeNavBar') }}
		</div>
		<div class="col-10">
			<div class="row">
				{% for user in app.user.likeByMe %}
					<div class="col-sm-12 col-lg-6 col-xl-3 g-3">
					<a href="{{ path('app_show_artist', {'id' : user.id })}}">
						<div class="card text-center border border-primary shadow-0 myCard">
							<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
								<img class="imageOnCard" src="{{ user.picture is not empty ? vich_uploader_asset(user) : asset('build/images/user.png') }}" class="rounded img-fluid"/>
							</div>
							<div class="card-body p-2">
								<h5 class="titleCard my-3"><i class="bi bi-music-note"></i> {{ user.speudo }} <i class="bi bi-music-note"></i></h5>
								<h5 class="fs-5 mb-3">{{ user.firstName ~ ' ' ~  user.lastName }}</h5>
								<h6>Total musique :{{ user.music|length }}</h6>
								<div>
									<div class="d-flex justify-content-center mt-4 mb-4">
										<div class="line"></div>
									</div>
									<div>
										{% if app.user %}
											<a id="{{ 'favoriteArtist' ~ loop.index }}" href="{{ path('app_favorite_user', {id: user.id})}}">
												<i class="bi {{ app.user.isInLikeByMe(user) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
											</a>
										{% endif %}

										<p>Dernière musique :</p>
										{% set music = user.music|last %}
										{% if music %}
											<figure>
												<audio controls src="{{ asset('build/audio/' ~ music.audio) }}"></audio>
											</figure>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
