{% extends 'layout.html.twig' %}

{% block title %}Votre Profil -
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('music-js') }}
{% endblock %}

{% block body %}
	{% set total = user.music|length  %}
	<div id="js-lenght-music" data-set="{{ total }}"></div>
	<h1 class="text-center mb-5 title-page-main">Découvrez
		{{ user.speudo }}</h1>
	<div class="border-add-music-form rounded d-flex justify-content-center mb-5">
		<div class="rounded w-75 p-5">
			<h2 class="title-page-main mb-3 text-center">{{ user.speudo }}</h2>
			<div class="row">
				<div class="col-6"><img class="p-1 rounded-circle border imageProfil" src="{{ user.picture is not empty ? vich_uploader_asset(user) : asset('build/images/user.png') }}" alt="{{ user.name ?? 'Default' }} image"></div>
				<div class="col-6 d-flex flex-column justify-content-evenly align-items-center">
					<div>
						<ul>
							<li>Prénom :
								{{ user.firstName }}</li>
							<li>Nom :
								{{ user.lastName }}</li>
							<li>Anniversaire :
								{{ user.birthday is not empty ? user.birthday|date("d/m/y") : 'd/m/y' }}</li>
							<li>
								Pays :
								{{ user.country is not empty ? user.country|country_name : '' }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pt-5 pb-3">
		<h3>Découvrez ses musiques</h3>
		<div class="row">
			{% for music in user.music %}
				<div class="col-sm-12 col-lg-6 col-xl-3 g-3">
					<div class="card text-center border border-primary shadow-0 myCard">
						<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
							<img class="imageOnCard" src="{{ music.type.picture }}" class="rounded img-fluid"/>
						</div>
						<div class="card-body p-2">
							<h5 class="titleCard my-3">
								<i class="bi bi-music-note"></i>
								{{ music.name }}
								<i class="bi bi-music-note"></i>
							</h5>
							<h5 class="fs-5 mb-3">{{ music.user.firstName ~ ' ' ~  music.user.lastName }}</h5>
							<h6 class="mb-3">{{ music.type.name }}</h6>
							<div>
								{% if app.user %}
									<a id="{{ 'watchlist' ~ loop.index }}" href="{{ path('app_favorite_music', {id: music.id})}}">
										{{ music.numberFavorie|length }}
										<i class="bi {{ app.user.isInFavorite(music) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
									</a>
								{% endif %}
							</div>
							<div class="d-flex justify-content-center mt-4 mb-4">
								<div class="line"></div>
							</div>
							<figure>
								<audio controls src="{{ asset('build/audio/' ~ music.audio) }}"></audio>
							</figure>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
