{% extends 'layout.html.twig' %}

{% block title %}Votre Profil -
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1 class="text-center mb-5 title-page-main">Découvrez
		{{ user.speudo }}</h1>
	<div class="border-add-music-form rounded p-4 py-5 d-flex justify-content-center mb-5">
		<div class="bg-primary rounded w-75 p-5">
			<h2 class="title-page-main mb-3 text-center">{{ user.speudo }}</h2>
			<div class="row">
				<div class="col-6"><img class="p-1 rounded-circle border imageProfil" src="{{ user.picture is not empty ? vich_uploader_asset(user) : asset('build/images/user.png') }}" alt="{{ user.name ?? 'Default' }} image"></div>
				<div class="col-6 d-flex flex-column justify-content-evenly align-items-center">
					<div>
						<ul>
							<li>Prénom :
								{{ user.firstName }}</li>
							<li>Nom :
								{{ user.lastName }}</li>
							<li>Anniversaire :
								{{ user.birthday is not empty ? user.birthday|date("d/m/y") : 'd/m/y' }}</li>
							<li>
								Pays :
								{{ user.country is not empty ? user.country|country_name : '' }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pt-5 pb-3">
		<h3>Découvrez ses musiques</h3>
		<table class="table table-responsive">
			<tr>
				<th>Titre</th>
				<th>Genre</th>
				<th>audio</th>
				<th>like</th>
			</tr>
		</thead>
		<tbody>
			{% for music in user.music %}
				<tr>
					<td>{{ music.name }}</td>
					<td>{{ music.type.name }}</td>
					<td>
						<figure>
							<audio controls src="{{ music.audio is not empty ? vich_uploader_asset(music) : asset('build/audio/' ~ music.audio) }}" alt="{{ music.name ?? 'Default' }} music"></audio>
						</figure>
					</td>
					<td>
						{% if app.user %}
							<a id="{{ 'watchlist' ~ loop.index }}" href="{{ path('app_favorite_music', {id: music.id})}}">
								<i class="bi {{ app.user.isInFavorite(music) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>{% endblock %}
