<nav class="navbar navbar fixed-top navbar-expand-lg">
	<div class="container-fluid">
		<div class="ms-4 d-flex justify-content-start">
			<a class="navbar-brand" href="{{ path('app_home')}}"><img class="logoNavBar" src="{{ asset('build/images/myLogoCheckpoint.webp') }}" alt="logo site web"></a>
		</div>
		<button class="navbar-toggler border-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-5 mb-2 mb-lg-0">
				<li>
					<div>
						<button {{ stimulus_action('theme', 'toggleDarkMode') }}>SWITCH</button>
					</div>
				</li>
				<li class="mx-3 nav-item">
					<a class="nav-link text-light" href="{{ path('app_home')}}">HOME</a>
				</li>
				<li class="mx-3 nav-item">
					<a class="nav-link text-light" href="{{ path('app_music_add')}}">AJOUTER</a>
				</li>
				<li class="mx-3 nav-item">
					<a class="nav-link text-light" href="{{ path('app_all_music')}}">MUSIQUES</a>
				</li>
				<li class="mx-3 nav-item">
					<a class="nav-link text-light" href="{{ path('app_type')}}">GENRES</a>
				</li>
				<li class="mx-3 nav-item">
					<a class="nav-link text-light" href="{{ path('app_artist')}}">ARTISTES</a>
				</li>
				{% if app.user %}
					<li class="mx-3 nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							VOIR PLUS
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_profil', {'id' : app.user.id })}}">MON PROFIL</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_all_myLike', {'id' : app.user.id })}}">MES LIKES</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_all_myMusic', {'id' : app.user.id })}}">MES MUSIQUES</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout')}}">SE DECONNECTER</a>
							</li>
							{% if is_granted("ROLE_ADMIN") %}
								<li>
									<a class="dropdown-item" href="{{ path('app_admin2')}}">ADMIN</a>
								</li>
							{% endif %}
						</ul>
					</li>
				{% else %}
					<li class="mx-3 nav-item">
						<a class="nav-link text-light" href="{{ path('app_login')}}">CONNECTION</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
